﻿@model VacationsSystem.Models.UserRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Members
        </dt>
        <dd>
            @if (Model.CustomUsers.Count > 0)
            {
                foreach (var user in Model.CustomUsers)
                {
                    @Html.ActionLink(Html.DisplayFor(model => user.FullName).ToString(), "Details", "User", new { id = user.Id }, new { @class = "badge badge-info m-1" })
                }
            }
            else
            {
                @Html.Raw("No members")
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
