﻿@model VacationsSystem.ViewModels.AssignRoleViewModel

@{
    ViewBag.Title = "Assign";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">
        <h4>Assign</h4>
        <hr/>

        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new {@class = "col-md-2"})
            <div class="col-md-10">
@*                @Html.DisplayFor(model => model.FullName)*@
                @Html.TextBoxFor(model => model.FullName, htmlAttributes: new { @class = "form-control", disabled = true })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AvailableRoles, htmlAttributes: new {@class = "col-md-2"})
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SelectedRoles, new MultiSelectList(Model.AvailableRoles, Model.InitialRoles), 
                                 htmlAttributes: new { @class = "selectpicker form-control", multiple = "multiple", data_width = "280px", title = "Select roles" })
                @Html.ValidationMessageFor(model => model.SelectedRoles, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Assign" class="btn"/>
            </div>
        </div>
    </div>
}
@Html.ActionLink("Back to List", "Index")