﻿@model VacationsSystem.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.FullName)</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VacationDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VacationDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VacationDaysDelta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VacationDaysDelta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivateEmail)
        </dt>

        <dd>
            @*TODO: Use an attribute*@
            @(Model.PrivateEmail != null ? Html.DisplayFor(model => model.PrivateEmail) : Html.Raw("No private email"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UstId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UstId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEmployed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmployed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Superior)
        </dt>

        <dd>
            @(Model.Superior != null ? Html.ActionLink(Html.DisplayFor(model => model.Superior.FullName).ToString(), "Details", new {id = Model.SuperiorId}, new {@class = "badge badge-success m-1"}) : Html.Raw("No superior"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectSubordinates)
        </dt>

        <dd>
            @if (Model.DirectSubordinates.Count > 0)
            {
                foreach (var subordinate in Model.DirectSubordinates)
                {
                    @Html.ActionLink(Html.DisplayFor(model => subordinate.FullName).ToString(), "Details", new { id = subordinate.Id }, new { @class = "badge badge-primary m-1" })
                }
            }
            else
            {
                @Html.Raw("No subordinates")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllSubordinates)
        </dt>

        <dd>
            @if (Model.DirectSubordinates.Count > 0 && Model.AllSubordinates.Except(Model.DirectSubordinates).Any())
            {
                foreach (var subordinate in Model.AllSubordinates.Except(Model.DirectSubordinates))
                {
                    @Html.ActionLink(Html.DisplayFor(model => subordinate.FullName).ToString(), "Details", new { id = subordinate.Id }, new { @class = "badge badge-info m-1" })
                }
            }
            else
            {
                @Html.Raw("No subordinates")
            }
        </dd>
    </dl>
</div>
<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) 
        @Html.Raw(" |")
    }
    @Html.ActionLink("Back to List", "Index")
</p>
