﻿@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@model IEnumerable<VacationsSystem.Models.User>

@{
    ViewBag.Title = "Users";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBox("filterName", "", htmlAttributes: new { placeholder = "Name", @class = "form-control d-inline align-middle m-1", style = "width: 150px" })
            @Html.TextBox("filterUstId", "", htmlAttributes: new { placeholder = "Ust Id", @class = "form-control d-inline align-middle m-1", maxlength = 6, style = "width: 150px" })
            @Html.TextBox("filterSuperior", "", htmlAttributes: new { placeholder = "Superior name", @class = "form-control d-inline align-middle m-1", style = "width: 150px" })
            @Html.DropDownList("filterIsEmployed", new SelectList(new[] { new { Name = "Employed", Value = true }, new { Name = "Unemployed", Value = false } }, "Value", "Name", true), null, new { @class = "form-control d-inline align-middle m-1", style = "width: 150px" })
            <input type="submit" value="Filter" class="btn d-inline" />
        </div>
    </div>
}
@if (!Model.Any())
{
    <div class="jumbotron p-3 mt-3">
        @Html.Raw(Resources.Empty.ListEmpty)
    </div>
}
else {
<table class="table table-hover">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.FullName).ToString(), "Index", new
            {
                sortOrder = "LastName",
                orderDirection = ViewData["LastName"],
                filterName = ViewBag.FilterName,
                filterUstId = ViewBag.FilterUstId,
                filterSuperior = ViewBag.FilterSuperior,
                filterIsEmployed = ViewBag.FilterIsEmployed,
                page = ViewBag.Page
            })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.UstId).ToString(), "Index", new
            {
                sortOrder = "UstId",
                orderDirection = ViewData["UstId"],
                filterName = ViewBag.FilterName,
                filterUstId = ViewBag.FilterUstId,
                filterSuperior = ViewBag.FilterSuperior,
                filterIsEmployed = ViewBag.FilterIsEmployed,
                page = ViewBag.Page
            })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Email).ToString(), "Index", new
            {
                sortOrder = "Email",
                orderDirection = ViewData["Email"],
                filterName = ViewBag.FilterName,
                filterUstId = ViewBag.FilterUstId,
                filterSuperior = ViewBag.FilterSuperior,
                filterIsEmployed = ViewBag.FilterIsEmployed,
                page = ViewBag.Page
            })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Superior).ToString(), "Index", new
            {
                sortOrder = "Superior.LastName",
                orderDirection = ViewData["Superior.LastName"],
                filterName = ViewBag.FilterName,
                filterUstId = ViewBag.FilterUstId,
                filterSuperior = ViewBag.FilterSuperior,
                filterIsEmployed = ViewBag.FilterIsEmployed,
                page = ViewBag.Page
            })
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UstId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @(item.Superior != null ? Html.ActionLink(Html.DisplayFor(modelItem => item.Superior.FullName).ToString(), "Details", new { id = item.SuperiorId }) : Html.Raw("No superior"))

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                <a href="#" data-toggle="modal" data-target="#confirmModal"
                   data-id="@Html.DisplayFor(modelItem => item.Id)"
                   data-name="@Html.DisplayFor(modelItem => item.FullName)"
                   data-email="@Html.DisplayTextFor(modelItem => item.Email)"
                   data-username="@Html.DisplayFor(modelItem => item.UserName)"
                   data-operation="Delete">Delete</a> |
                @Html.ActionLink("Assign role", "Assign", new { id = item.Id })
                @if (!item.EmailConfirmed)
                {
                    @Html.Raw(" | ")
                    <a href="#" data-toggle="modal" data-target="#confirmModal"
                       data-id="@Html.DisplayFor(modelItem => item.Id)"
                       data-name="@Html.DisplayFor(modelItem => item.FullName)"
                       data-email="@Html.DisplayTextFor(modelItem => item.Email)"
                       data-username="@Html.DisplayFor(modelItem => item.UserName)"
                       data-operation="AskConfirm">Ask to confirm</a>
                }
            </td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new
{
    page,
    filterName = ViewBag.FilterName,
    filterUstId = ViewBag.FilterUstId,
    filterSuperior = ViewBag.FilterSuperior,
    filterIsEmployed = ViewBag.FilterIsEmployed,
    sortOrder = ViewBag.SortOrder,
    orderDirection = ViewBag.OrderDirection
}), (PagedListRenderOptions)ViewBag.RenderOptions)
}

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 id="modal-name"></h5>
                <strong class="d-inline">Email: </strong><p class="d-inline" id="modal-email"></p>
                <br/>
                <strong class="d-inline">User name: </strong><p class="d-inline" id="modal-username"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <form id="modal-submit" action="" method="post">
                    @Html.AntiForgeryToken()
                    <input id="confirm-button" type="submit" value="Approve" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $('#confirmModal').on('show.bs.modal',
            function(event) {
                const button = $(event.relatedTarget);
                const id = button.data('id');
                const name = button.data('name');
                const email = button.data('email');
                const username = button.data('username');
                const operation = button.data('operation');

                const endpoint = "@Url.Content("~/")";
                const url = `User/${operation}/`;
                const modal = $(this);
                modal.find('.modal-footer #modal-submit').attr('action', endpoint + url + id);
                modal.find('.modal-body #modal-name').text(name);
                modal.find('.modal-body #modal-email').text(email);
                modal.find('.modal-body #modal-username').text(username);
                modal.find('.modal-footer #confirm-button').val(operation);
                modal.find('.modal-header #modal-title').text(operation + ' user');
            });
    </script>
}