﻿@using VacationsSystem.Models
@model IEnumerable<Leave>

@{
    ViewBag.Title = "All Leaves";
}

<h2>@ViewBag.Title</h2>
@if (!Model.Any())
{
    <div class="jumbotron p-3 mt-3">
        @Html.Raw(Resources.Empty.ListEmpty)
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.User != null)
                    {
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.User.FullName).ToString(), "Details", "User", new { id = item.UserId }, null)
                    }
                    else
                    {
                        @:No user
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    <a href="#" data-toggle="modal" data-target="#confirmModal"
                       data-id="@Html.DisplayFor(modelItem => item.Id)"
                       data-name="@Html.DisplayFor(modelItem => item.User.FullName)"
                       data-from="@Html.DisplayFor(modelItem => item.StartDate)"
                       data-to="@Html.DisplayFor(modelItem => item.EndDate)"
                       data-type="@Html.DisplayFor(modelItem => item.LeaveType.Name)"
                       data-operation="Delete">Delete</a>
                </td>
            </tr>
        }

    </table>

}

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 id="modal-name"></h5>
                    <strong class="d-inline card-title">Date: </strong><p class="d-inline">from </p><p class="d-inline" id="modal-from"></p><p class="d-inline"> to </p><p class="d-inline" id="modal-to"></p>
                    <br />
                    <strong class="d-inline">Type: </strong><p class="d-inline" id="modal-type"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <form id="modal-submit" action="" method="post">
                        @Html.AntiForgeryToken()
                        <input id="confirm-button" type="submit" value="Approve" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section scripts
{
        <script type="text/javascript">
        $('#confirmModal').on('show.bs.modal',
            function(event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var name = button.data('name');
                var from = button.data('from');
                var to = button.data('to');
                var type = button.data('type');
                var operation = button.data('operation');

                var endpoint = "@Url.Content("~/")";
                var url = 'Leave/' + operation + '/';
                var modal = $(this);
                modal.find('.modal-footer #modal-submit').attr('action', endpoint + url + id);
                modal.find('.modal-body #modal-name').text(name);
                modal.find('.modal-body #modal-from').text(from);
                modal.find('.modal-body #modal-to').text(to);
                modal.find('.modal-body #modal-type').text(type);
                modal.find('.modal-footer #confirm-button').val(operation);
                modal.find('.modal-header #modal-title').text(operation + ' leave');
            });
    </script>
}