﻿@using Newtonsoft.Json
@using VacationsSystem.Models
@model VacationsSystem.ViewModels.AddLeaveViewModel

@{
    ViewBag.Title = Model == null ? "Create" : "Edit";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Leave</h4>
    <h5>Your leave can be between one month back from now and one year ahead of now.</h5>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.LeaveTypeId, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList(Html.NameFor(model => model.LeaveTypeId).ToString(), EnumHelper.GetSelectList(typeof(Leave.LeaveTypeEnum)), "Select type", new { @class = "selectpicker form-control", data_width = "280px" })
            <br />
            @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.StartDate, format: "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control c-datepicker" })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.EndDate, format: "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control c-datepicker" })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
    </div>

    @{
        var display = Model != null && (Model.LeaveTypeId == (int)Leave.LeaveTypeEnum.Vacation || Model.LeaveTypeId == (int)Leave.LeaveTypeEnum.Abscence) ? "" : "display: none;";
    }
    <div class="form-group" style="@(display)">
        @Html.LabelFor(model => model.DaysTaken, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DaysTaken, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @Html.ValidationMessageFor(model => model.DaysTaken, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    @if (ViewContext.HttpContext.User.IsInRole("Approver") && !ViewBag.ForSelf)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UserId, (SelectList)ViewBag.UserSelectList, htmlAttributes: new { @class = "selectpicker form-control", data_size = "15" })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>
    }


    @Html.HiddenFor(model => model.LeaveId)

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @if (!ViewBag.ForSelf)
    {
        @Html.ActionLink("Back to List", "OtherIndex")
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            function isAbscenceOrVacation() {
                const leaveTypeId = $('#LeaveTypeId').val();
                return leaveTypeId === '@((int) Leave.LeaveTypeEnum.Abscence)' ||
                    leaveTypeId === '@((int) Leave.LeaveTypeEnum.Vacation)';
            }

            function getBusinessDays() {
                const startDate = $('#StartDate').datepicker('getDate');
                const endDate = $('#EndDate').datepicker('getDate');
                if (startDate === null || endDate === null) {
                    return;
                }
                const endpoint = "@Url.Content("~/")";
                $.ajax({
                    type: 'POST',
                    url: endpoint + 'JsonCheck/HowManyDays',
                    data: {
                        start: $.datepicker.formatDate('yy-mm-dd', startDate),
                        end: $.datepicker.formatDate('yy-mm-dd', endDate)
                    },
                    success: function(data) {
                        $('#DaysTaken').val(data);
                        $('#DaysTaken').valid();
                    }
                });
            }

            var holidays = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Holidays));
            $('.form-horizontal').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '-1m',
                endDate: '+1y',
                todayBtn: 'linked',
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                orientation: "bottom auto",
                inputs: $('.c-datepicker'),
                beforeShowDay: function (date) {
                    const normDate = $.datepicker.formatDate('yy-mm-dd', date);
                    if (holidays.indexOf(normDate) >= 0) {
                        return {
                            classes: 'holiday'
                        }
                    }
                }
            }).on('changeDate',
                function (e) {
                    if (!isAbscenceOrVacation()) {
                        return;
                    }
                    getBusinessDays();
                });
            $('#LeaveTypeId').change(function (e) {
                if (!isAbscenceOrVacation()) {
                    $('#DaysTaken').parent().parent().hide();
                    $('#DaysTaken').val(null);
                    return;
                }
                $('#DaysTaken').parent().parent().show();

                getBusinessDays();
            });

            $('.selectpicker').selectpicker({
                liveSearch: true,
                width: '280px'
            });
        })
    </script>
}