﻿@using Newtonsoft.Json
@using VacationsSystem.Models
@model VacationsSystem.Models.Leave

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Leave</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        
        <div class="form-group">
            @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", null, "Select user", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeaveTypeId, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList(Html.NameFor(model => model.LeaveTypeId).ToString(), EnumHelper.GetSelectList(typeof(Leave.LeaveTypeEnum)), null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.StartDate, format: "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control c-datepicker" })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EndDate, format: "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control c-datepicker" })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.LeaveStateId, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList(Html.NameFor(model => model.LeaveStateId).ToString(), EnumHelper.GetSelectList(typeof(Leave.LeaveStateEnum)), null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LeaveStateId, "", new { @class = "text-danger" })
            </div>
        </div>

        @{
            var display = Model != null && (Model.LeaveTypeId == (int)Leave.LeaveTypeEnum.Vacation || Model.LeaveTypeId == (int)Leave.LeaveTypeEnum.Abscence) ? "" : "display: none;";
        }
        <div class="form-group" style="@(display)">
            @Html.LabelFor(model => model.DaysTaken, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DaysTaken, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.DaysTaken, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AllLeaves")
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            function isAbscenceOrVacation() {
                const leaveTypeId = $('#LeaveTypeId').val();
                return leaveTypeId === '@((int) Leave.LeaveTypeEnum.Abscence)' ||
                    leaveTypeId === '@((int) Leave.LeaveTypeEnum.Vacation)';
            }

            function getBusinessDays() {
                const startDate = $('#StartDate').datepicker('getDate');
                const endDate = $('#EndDate').datepicker('getDate');
                if (startDate === null || endDate === null) {
                    return;
                }
                const endpoint = "@Url.Content("~/")";
                $.ajax({
                    type: 'POST',
                    url: endpoint + 'JsonCheck/HowManyDays',
                    data: {
                        start: $.datepicker.formatDate('yy-mm-dd', startDate),
                        end: $.datepicker.formatDate('yy-mm-dd', endDate)
                    },
                    success: function(data) {
                        $('#DaysTaken').val(data);
                    }
                });
            }
            var holidays = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Holidays));
            $('.form-horizontal').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '-1m',
                endDate: '+1y',
                todayBtn: 'linked',
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                orientation: "bottom auto",
                inputs: $('.c-datepicker'),
                beforeShowDay: function (date) {
                    const normDate = $.datepicker.formatDate('yy-mm-dd', date);
                    if (holidays.indexOf(normDate) >= 0) {
                        return {
                            classes: 'holiday'
                        }
                    }
                }
            }).on('changeDate',
                function (e) {
                    if (!isAbscenceOrVacation()) {
                        return;
                    }
                    getBusinessDays();
                });
            $('#LeaveTypeId').change(function (e) {
                if (!isAbscenceOrVacation()) {
                    $('#DaysTaken').parent().parent().hide();
                    $('#DaysTaken').val(null);
                    return;
                }
                $('#DaysTaken').parent().parent().show();

                getBusinessDays();
            });
        })
    </script>
}