﻿@using System.Web.Mvc.Html
@using VacationsSystem.Extensions
@using VacationsSystem.Models
@model IEnumerable<Leave>

@{
    ViewBag.Title = "Leaves";
}

<h2 class="d-inline">@ViewBag.Title</h2>

@Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary text-white d-inline float-right" })

<ul class="nav nav-tabs">
    <li class="nav-item">
        @{
            var hereState = Leave.LeaveStateEnum.All;
            var active = ViewBag.State == hereState ? "active" : "";
            var name = EnumHelper<Leave.LeaveStateEnum>.GetDisplayValue(hereState);
        }

        @Html.ActionLink(Html.DisplayFor(model => name).ToString(), "Index", new { state = hereState }, new { @class = $"nav-link {active}" })
    </li>
    <li class="nav-item">
        @{
            hereState = Leave.LeaveStateEnum.Created;
            active = ViewBag.State == hereState ? "active" : "";
            name = EnumHelper<Leave.LeaveStateEnum>.GetDisplayValue(hereState);
        }

        @Html.ActionLink(Html.DisplayFor(model => name).ToString(), "Index", new { state = hereState }, new { @class = $"nav-link {active}" })
    </li>
    <li class="nav-item">
        @{
            hereState = Leave.LeaveStateEnum.Submitted;
            active = ViewBag.State == hereState ? "active" : "";
            name = EnumHelper<Leave.LeaveStateEnum>.GetDisplayValue(hereState);
        }

        @Html.ActionLink(Html.DisplayFor(model => name).ToString(), "Index", new { state = hereState }, new { @class = $"nav-link {active}" })
    </li>
    <li class="nav-item">
        @{
            hereState = Leave.LeaveStateEnum.Approved;
            active = ViewBag.State == hereState ? "active" : "";
            name = EnumHelper<Leave.LeaveStateEnum>.GetDisplayValue(hereState);
        }

        @Html.ActionLink(Html.DisplayFor(model => name).ToString(), "Index", new { state = hereState }, new { @class = $"nav-link {active}" })
    </li>
    <li class="nav-item">
        @{
            hereState = Leave.LeaveStateEnum.ApprovedAndNotified;
            active = ViewBag.State == hereState ? "active" : "";
            name = EnumHelper<Leave.LeaveStateEnum>.GetDisplayValue(hereState);
        }

        @Html.ActionLink(Html.DisplayFor(model => name).ToString(), "Index", new { state = hereState }, new { @class = $"nav-link {active}" })
    </li>
    <li class="nav-item">
        @{
            hereState = Leave.LeaveStateEnum.Rejected;
            active = ViewBag.State == hereState ? "active" : "";
            name = EnumHelper<Leave.LeaveStateEnum>.GetDisplayValue(hereState);
        }

        @Html.ActionLink(Html.DisplayFor(model => name).ToString(), "Index", new { state = hereState }, new { @class = $"nav-link {active}" })
    </li>
</ul>
@if (!Model.Any())
{
    <div class="jumbotron p-3 mt-3">
        @Html.Raw(Resources.Empty.ListEmptyFiltered)
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @if ((ViewBag.State & Leave.LeaveStateEnum.Created) != 0)
            {
                <th>
                    Actions
                </th>
            }
        </tr>

        @foreach (var item in Model)
        {
            var className = "";
            if (TempData["NewId"] != null && (string)TempData["NewId"] == item.Id)
            {
                className = "alert-success highlight";
            }

            <tr class="@className">
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @if (item.LeaveStateId == (int)Leave.LeaveStateEnum.Created)
                {
                    <td>
                        <a href="#" data-toggle="modal" data-target="#confirmModal"
                           data-id="@Html.DisplayFor(modelItem => item.Id)"
                           data-name="@Html.DisplayFor(modelItem => item.User.FullName)"
                           data-from="@Html.DisplayFor(modelItem => item.StartDate)"
                           data-to="@Html.DisplayFor(modelItem => item.EndDate)"
                           data-type="@Html.DisplayFor(modelItem => item.LeaveType.Name)">Submit</a>
                        |
                        @Html.ActionLink("Edit", "Create", new { id = item.Id })

                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </table>
}

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Submit leave</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 id="modal-name"></h5>
                    <strong class="d-inline card-title">Date: </strong><p class="d-inline">from </p><p class="d-inline" id="modal-from"></p><p class="d-inline"> to </p><p class="d-inline" id="modal-to"></p>
                    <br />
                    <strong class="d-inline">Type: </strong><p class="d-inline" id="modal-type"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <form id="modal-submit" action="" method="post">
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section scripts
{
        <script type="text/javascript">
        $('#confirmModal').on('show.bs.modal',
            function(event) {
                const button = $(event.relatedTarget);
                const id = button.data('id');
                const name = button.data('name');
                const from = button.data('from');
                const to = button.data('to');
                const type = button.data('type');

                const endpoint = "@Url.Content("~/")";
                const url = 'Leave/Submit/';
                const modal = $(this);
                modal.find('.modal-footer #modal-submit').attr('action', endpoint + url + id);
                modal.find('.modal-body #modal-name').text(name);
                modal.find('.modal-body #modal-from').text(from);
                modal.find('.modal-body #modal-to').text(to);
                modal.find('.modal-body #modal-type').text(type);
            });
    </script>
}