﻿@using Newtonsoft.Json
@using VacationsSystem.Extensions
@using VacationsSystem.Models
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@model IEnumerable<Leave>

@{
    ViewBag.Title = "Employees";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("LeaveList", "Hr", FormMethod.Get))
{
    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBox("filterUser", "", htmlAttributes: new { placeholder = "Name", @class = "form-control d-inline align-middle m-1", style = "width: 150px" })
            @Html.TextBox("filterStartDate", null, format: "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control d-inline m-1 align-middle c-datepicker", style = "width: 150px" })
            @Html.TextBox("filterEndDate", null, format: "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control d-inline m-1 align-middle c-datepicker", style = "width: 150px" })
            <input type="submit" value="Filter" name="submitButton" class="btn d-inline" />
            <input type="submit" value="Get xls file" name="submitButton" class="btn btn-primary d-inline"/>
        </div>
    </div>
}



@if (!Model.Any())
{
    <div class="jumbotron p-3 mt-3">
        @Html.Raw(Resources.Empty.ListEmptyFiltered)
    </div>
}
else
{
    <table class="table table-hover">
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.User).ToString(), "LeaveList", new
                {
                    sortOrder = "User.LastName",
                    orderDirection = ViewData["User.LastName"],
                    filterUser = ViewBag.FilterUser,
                    filterStartDate = ((DateTime)ViewBag.FilterStartDate).UnifiedFormat(),
                    filterEndDate = ((DateTime)ViewBag.FilterEndDate).UnifiedFormat(),
                    page = ViewBag.Page
                })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.StartDate).ToString(), "LeaveList", new
                {
                    sortOrder = "StartDate",
                    orderDirection = ViewData["StartDate"],
                    filterUser = ViewBag.FilterUser,
                    filterStartDate = ((DateTime)ViewBag.FilterStartDate).UnifiedFormat(),
                    filterEndDate = ((DateTime)ViewBag.FilterEndDate).UnifiedFormat(),
                    page = ViewBag.Page
                })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.EndDate).ToString(), "LeaveList", new
                {
                    sortOrder = "EndDate",
                    orderDirection = ViewData["EndDate"],
                    filterUser = ViewBag.FilterUser,
                    filterStartDate = ((DateTime)ViewBag.FilterStartDate).UnifiedFormat(),
                    filterEndDate = ((DateTime)ViewBag.FilterEndDate).UnifiedFormat(),
                    page = ViewBag.Page
                })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveState)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            var className = "";
            if (TempData["NewId"] != null && (string)TempData["NewId"] == item.Id)
            {
                className = "alert-success highlight";
            }

            <tr class="@className">
                <td>
                    @Html.ActionLink(@Html.DisplayFor(modelItem => item.User.FullName).ToString(), "UserDetails", new { userId = item.UserId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @(EnumHelper<Leave.LeaveTypeEnum>.GetDisplayValue(item.LeaveType))
                </td>
                <td>
                    @(EnumHelper<Leave.LeaveStateEnum>.GetDisplayValue(item.LeaveState))
                </td>
                <td>
                    @if (item.LeaveState == Leave.LeaveStateEnum.Approved)
                    {
                        <a href="#" data-toggle="modal" data-target="#confirmModal"
                           data-id="@Html.DisplayFor(modelItem => item.Id)"
                           data-name="@Html.DisplayFor(modelItem => item.User.FullName)"
                           data-from="@Html.DisplayFor(modelItem => item.StartDate)"
                           data-to="@Html.DisplayFor(modelItem => item.EndDate)"
                           data-type="@Html.DisplayFor(modelItem => item.LeaveType.Name)"
                           data-operation="Notify">Notify</a>
                    }
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("LeaveList", new
    {
        page,
        filterUser =
        ViewBag.FilterUser,
        filterStartDate = ((DateTime)ViewBag.FilterStartDate).UnifiedFormat(),
        filterEndDate = ((DateTime)ViewBag.FilterEndDate).UnifiedFormat(),
        sortOrder = ViewBag.SortOrder,
        orderDirection = ViewBag.OrderDirection
    }), (PagedListRenderOptions)ViewBag.RenderOptions)
}

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 id="modal-name"></h5>
                    <strong class="d-inline card-title">Date: </strong><p class="d-inline">from </p><p class="d-inline" id="modal-from"></p><p class="d-inline"> to </p><p class="d-inline" id="modal-to"></p>
                    <br />
                    <strong class="d-inline">Type: </strong><p class="d-inline" id="modal-type"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <form id="modal-submit" action="" method="post">
                        @Html.AntiForgeryToken()
                        <input id="confirm-button" type="submit" value="Approve" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>

@section scripts
{
        <script type="text/javascript">
        $(function() {
            var holidays = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Holidays));
            const date = new Date();
            const month_back = date;
            month_back.setMonth(date.getMonth() - 2);
            $('.form-group').datepicker({
                format: 'yyyy-mm-dd',
                startDate: `${month_back.getFullYear()}-${month_back.getMonth()+1}-01`,
                endDate: '+1y',
                todayBtn: 'linked',
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                orientation: "bottom auto",
                inputs: $('.c-datepicker'),
                beforeShowDay: function(date) {
                    const normDate = $.datepicker.formatDate('yy-mm-dd', date);
                    if (holidays.indexOf(normDate) >= 0) {
                        return {
                            classes: 'holiday'
                        }
                    }
// ReSharper disable once NotAllPathsReturnValue
                }
            });
            $('#confirmModal').on('show.bs.modal',
                function(event) {
                    const button = $(event.relatedTarget);
                    const id = button.data('id');
                    const name = button.data('name');
                    const from = button.data('from');
                    const to = button.data('to');
                    const type = button.data('type');
                    const operation = button.data('operation');
                
                    const endpoint = "@Url.Content("~/")";
                    const url = `Hr/${operation}/`;
                    const modal = $(this);
                    modal.find('.modal-footer #modal-submit').attr('action', endpoint + url + id);
                    modal.find('.modal-body #modal-name').text(name);
                    modal.find('.modal-body #modal-from').text(from);
                    modal.find('.modal-body #modal-to').text(to);
                    modal.find('.modal-body #modal-type').text(type);
                    modal.find('.modal-footer #confirm-button').val(operation);
                    modal.find('.modal-header #modal-title').text(operation + ' leave');
                });
        });
    </script>
}