﻿@using Microsoft.Ajax.Utilities
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@model IEnumerable<VacationsSystem.Models.User>

@{
    ViewBag.Title = "Employees";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBox("filterName", "", htmlAttributes: new { placeholder = "Name", @class = "form-control d-inline align-middle m-1", style = "width: 150px" })
            <div class="form-check d-inline align-middle m-1">
                @Html.CheckBox("filterIsEmployed", true, htmlAttributes: new { placeholder = "Name", @class = "form-check-input align-middle", id="isEmployedCheck" })
                <label class="form-check-label" for="isEmployedCheck">
                    @Html.DisplayNameFor(model => model.IsEmployed)
                </label>
            </div>
            
            <input type="submit" value="Filter" class="btn d-inline" />
        </div>
    </div>
}
@if (!Model.Any())
{
    <div class="jumbotron p-3 mt-3">
        @Html.Raw(Resources.Empty.ListEmptyFiltered)
    </div>
}
else
{
    <table class="table table-hover">
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.FullName).ToString(), "UserList", new
                {
                    sortOrder = "LastName",
                    orderDirection = ViewData["LastName"],
                    filterName = ViewBag.FilterName,
                    filterUstId = ViewBag.FilterUstId,
                    filterSuperior = ViewBag.FilterSuperior,
                    filterIsEmployed = ViewBag.FilterIsEmployed,
                    page = ViewBag.Page
                })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Email).ToString(), "UserList", new
                {
                    sortOrder = "Email",
                    orderDirection = ViewData["Email"],
                    filterName = ViewBag.FilterName,
                    filterUstId = ViewBag.FilterUstId,
                    filterSuperior = ViewBag.FilterSuperior,
                    filterIsEmployed = ViewBag.FilterIsEmployed,
                    page = ViewBag.Page
                })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEmployed)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td @if(!item.Comment.IsNullOrWhiteSpace()) {}>
                    @Html.ActionLink(@Html.DisplayFor(modelItem => item.FullName).ToString(), "UserDetails", new { userId = item.Id })
                    @if (!item.Comment.IsNullOrWhiteSpace())
                    {
                        <img src="https://img.icons8.com/ios/50/000000/notepad.png" alt="Comment" style="max-height: 1rem"
                             data-toggle="popover"
                             trigger="hover"
                             title="Comment"
                             data-content="@Html.DisplayFor(modelItem => item.Comment)">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VacationDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEmployed)
                </td>
                <td>
                    @{
                        var employText = item.IsEmployed ? "Fire" : "Hire";
                    }
                    @Html.ActionLink("Leaves", "LeaveList", new {filterUser = item.FullName}) |
                    <a href="#" onclick="$(this).siblings('form').submit()">@employText</a>
                    @using (Html.BeginForm("ChangeEmployedStatus", "Hr"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="text" name="userId" hidden="hidden" value="@Html.DisplayFor(modelItem => item.Id)"/>

                    }
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("UserList", new
    {
        page,
        sortOrder = ViewBag.SortOrder,
        orderDirection = ViewBag.OrderDirection,
        filterName = ViewBag.FilterName,
        filterUstId = ViewBag.FilterUstId,
        filterSuperior = ViewBag.FilterSuperior,
        filterIsEmployed = ViewBag.FilterIsEmployed
    }), (PagedListRenderOptions)ViewBag.RenderOptions)
}

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 id="modal-name"></h5>
                    <strong class="d-inline">Email: </strong><p class="d-inline" id="modal-email"></p>
                    <br />
                    <strong class="d-inline">User name: </strong><p class="d-inline" id="modal-username"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <form id="modal-submit" action="" method="post">
                        @Html.AntiForgeryToken()
                        <input id="confirm-button" type="submit" value="Approve" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>

@section scripts
{
    <script type="text/javascript">
        $('#confirmModal').on('show.bs.modal',
            function(event) {
                const button = $(event.relatedTarget);
                const id = button.data('id');
                const name = button.data('name');
                const email = button.data('email');
                const username = button.data('username');
                const operation = button.data('operation');

                const endpoint = "@Url.Content("~/")";
                const url = `Hr/${operation}/`;
                const modal = $(this);
                modal.find('.modal-footer #modal-submit').attr('action', endpoint + url + id);
                modal.find('.modal-body #modal-name').text(name);
                modal.find('.modal-body #modal-email').text(email);
                modal.find('.modal-body #modal-username').text(username);
                modal.find('.modal-footer #confirm-button').val(operation);
                modal.find('.modal-header #modal-title').text(operation + ' user');
                });
        $(function() {
            $('[data-toggle="popover"]').popover({
                trigger: 'hover'
            });
        });
    </script>
}