﻿@using VacationsSystem.Extensions
@using VacationsSystem.Models
@model VacationsSystem.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.FullName)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Details</h4>
        <hr/>
        <dl class="dl-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserId)
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VacationDays)
            </dt>
            <dd>
                @Html.EditorFor(model => model.VacationDays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VacationDays, "", new { @class = "text-danger" })
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VacationDaysDelta)
            </dt>
            <dd>
                @Html.EditorFor(model => model.VacationDaysDelta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VacationDaysDelta, "", new { @class = "text-danger" })
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
            <dd>
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </dd>
        </dl>
        
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
}
<p>
    @Html.ActionLink("Back to List", "UserList")
</p>

<table class="table">
    <thead>
    <tr>
        <th>Start date</th>
        <th>End date</th>
        <th>Type</th>
        <th>State</th>
        <th>Days taken</th>
    </tr>
    </thead>
    <tbody>
    @foreach(Leave leave in ViewBag.LastLeaves)
    {
        <tr>
            <td>@Html.DisplayFor(item => leave.StartDate)</td>
            <td>@Html.DisplayFor(item => leave.EndDate)</td>
            <td>@(EnumHelper<Leave.LeaveTypeEnum>.GetDisplayValue(leave.LeaveType))</td>
            <td>@(EnumHelper<Leave.LeaveStateEnum>.GetDisplayValue(leave.LeaveState))</td>
            <td>@Html.DisplayFor(item => leave.DaysTaken)</td>
        </tr>
    }
    </tbody>
</table>
