﻿body {
    padding-top: 75px;
    padding-bottom: 20px;
}

@media (max-width: 991.98px) {
    .navbar-text {
        display: none;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.input-group {
    max-width: 280px;
}

.multi-line {
    min-height: 62px;
}

.table th {
    border-top: none;
}

.fc-event .fc-content {
    text-align: center;
    vertical-align: middle;
}

.fc-sun,
.fc-sat {
    background-color: #F5F5DC;
}

.fc-day-header {
    background-color: #dddddd
}

.fc-week {
    height: auto !important;
}

.datepicker table tr td.holiday {
    color: #000;
    background-color: #FFE5DE;
    border-color: #FFA68F;
    border-radius: 0;
}