﻿@using Newtonsoft.Json
@using VacationsSystem.Enums
@model IEnumerable<VacationsSystem.ViewModels.CalendarLeaveViewModel>
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-12">
            @Html.ListBox("userId", (MultiSelectList) ViewBag.UserSelectList,
                               htmlAttributes: new { @class = "selectpicker", data_size = "15" })
            @Html.Hidden("calendarOption")
            
            <div class="btn-group" role="group" id="calendarOptionSelect">
                @foreach (var value in Enum.GetValues(typeof(CalendarOptionEnum)).Cast<CalendarOptionEnum>())
                {
                    var active = ((CalendarOptionEnum) ViewBag.CalendarOption) == value ? "active" : "";
                    <div class="btn btn-outline-primary @active" data-value="@((int)value)">
                        @value
                    </div>
                }
            </div>
            <input id="filterSubmit" type="submit" value="Filter" class="btn btn-success d-inline" />
        </div>
    </div>
}
<hr/>

<div id="calendar"></div>

@section scripts
{
    <script type="text/javascript">
        var test;
        $(function () {
            var groupEnabled = true;

            function colorLuminance(hex, lum) {
                hex = String(hex).replace(/[^0-9a-f]/gi, '');
                if (hex.length < 6) {
                    hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
                }
                lum = lum || 0;
                var rgb = "#",
                    c,
                    i;
                for (i = 0; i < 3; i++) {
                    c = parseInt(hex.substr(i * 2, 2), 16);
                    c = Math.round(Math.min(Math.max(0, c + (c * lum)), 255)).toString(16);
                    rgb += (`00${c}`).substr(c.length);
                }
                return rgb;
            }

            function disableGroup() {
                const calendarOptionSelect = $('#calendarOptionSelect');
                calendarOptionSelect.find('div:not(:first-child)').addClass('disabled');
                const first = calendarOptionSelect.find(':first-child').addClass('active');
                first.siblings().removeClass('active');
                $('#calendarOption').val(first.data('value'));
                groupEnabled = false;
            }

            function enableGroup() {
                $('#calendarOptionSelect').find('div:not(:first-child)').removeClass('disabled');
                groupEnabled = true;
            }

            $('#calendar').fullCalendar({
                themeSystem: 'bootstrap4',
                header: {
                    left: 'title',
                    center: 'month,agendaWeek',
                    right: 'today prev,next'
                },
                titleFormat: 'YYYY MMMM D',
                defaultView: 'agendaWeek',
                slotDuration: '24:00:00',
                columnHeaderFormat: 'ddd D MMMM',
                contentHeight: 'auto',
                firstDay: '1',
                events: [
                    @Html.Raw(string.Join(",",Model.Select(JsonConvert.SerializeObject)))
                ],
                eventClick: function(event) {
                    const elements = $('#calendar').find('[data-event-id="' + event.id + '"]');
                    if (elements.data('highlighted') === undefined || elements.data('highlighted') === false) {
                        const others = $('*[data-highlighted=true]');
                        others.stop().animate({ 'background-color': event.color, color: '#000' });
                        others.data('highlighted', false);
                        others.attr('data-highlighted', false);
                        for (let i = 0; i < others.length; ++i) {
                            $(others[i]).find('.fc-title').text($(others[i]).data('event').title);
                        }

                        elements.data('highlighted', true);
                        elements.attr('data-highlighted', true);
                        elements.stop().animate({
                            'background-color': colorLuminance(event.color, -0.3),
                            color: '#fff'
                        });
                        elements.find('.fc-title').text(event.otherTitle);
                    } else {
                        elements.data('highlighted', false);
                        elements.attr('data-highlighted', false);
                        elements.stop().animate({
                            'background-color': event.color,
                            color: '#000'
                        });
                        elements.find('.fc-title').text(event.title);
                    }
                },
                eventAfterRender: function(event, element) {
                    element.attr('data-event-id', event.id);
                    element.data('event', event);
                }
            });

            function hideHours() {
                $('.fc-day-grid').siblings().hide();
                $('.fc-axis').hide();
            }

            hideHours();

            $('.fc-agendaWeek-button').on('click',
                function() {
                    hideHours();
                    $('.fc-head').show();
                });

            $('.fc-month-button').on('click',
                function() {
                    $('.fc-head').hide();
                });

            $('#calendarOptionSelect').children().click(function () {
                if (!groupEnabled) {
                    return;
                }
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
                $('#calendarOption').val($(this).data('value'));
            });

            $('.selectpicker').selectpicker({
                countSelectedText: function(i, m) {
                    return `Selected ${i} employees`;
                },
                selectedTextFormat: 'count > 2',
                liveSearch: true,
                style: 'btn-primary',
                width: '280px'
            }).on('changed.bs.select',
                function (event, clickedIndex, newValue, oldValue) {
                    const selectedLength = $(this).val().length;

                    if (selectedLength < 1) {
                        $('#filterSubmit').attr('disabled', true).addClass('disabled');
                    } else {
                        $('#filterSubmit').attr('disabled', false).removeClass('disabled');
                    }
                    if (selectedLength > 1) {
                        disableGroup();
                    } else {
                        enableGroup();
                    }
                    if ($(this).val().length < 1) {
                        const index = $(this).children()[clickedIndex].value;
                        $(this).selectpicker('val', index);
                        $(this).selectpicker('refresh');
                    }
                });
            @if (ViewBag.DisableGroup != null && ViewBag.DisableGroup == true)
            {
                @:disableGroup();
            }
        });
    </script>
}


@section styles
{
@*    @Styles.Render("~/Content/fullcalendar")*@
@*    @Styles.RenderFormat(BundlesFormats.PRINT, "~/Content/fullcalendar-print")*@
@*@Styles.Render("~/Content/fullcalendar-print")*@
}