﻿@model VacationsSystem.Models.User
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Hello there!</h1>
    <hr class="my-4">
    <p>Prerequisites:</p>
    <ul>
        <li>Google Chrome, Mozilla Firefox, Opera, some functionalities may not work correctly in Internet Explorer</li>
        <li>Email with @@ust-global.com domain</li>
    </ul>
    <p class="lead">
        @Html.ActionLink("Click here to register!", "Register", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>