﻿@model VacationsSystem.ViewModels.UserRegisterViewModel

@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>@Html.LabelForModel(Model)</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@@</div>
                </div>
                @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "form-control"}})
            </div>
            @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UstId, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UstId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UstId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PrivateEmail, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PrivateEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrivateEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Register" class="btn" />
        </div>
    </div>

}
@section scripts
{
    <script type="text/javascript">
        function isUstEmail(val) {
            return val.trim().match(/ust-global[.]com$/i);
        }
        function isHkEmail(val) {
            return val.trim().match(/hk-finance[.]pl$/i);
        }
        $.validator.addMethod('customemail',
            function(value, element, params) {
                return value.trim().match(/(ust-global[.]com|hk-finance[.]pl)$/i);
            });
        $.validator.addMethod('requiredif',
            function(value, element, parameters) {
                const controlType = $(`input[id$='${parameters.dependentproperty}']`).attr("type");
                var actualvalue = {}
                if (controlType === "checkbox" || controlType === "radio") {
                    const control = $(`input[id$='${parameters.dependentproperty}']:checked`);
                    actualvalue = control.val();
                } else {
                    actualvalue = $(`#${parameters.dependentproperty}`).val();
                }
                if (isUstEmail(actualvalue)) {
                    return $.validator.methods.required.call(this, value, element, parameters);
                }
                return true;
            });
        $.validator.unobtrusive.adapters.add('customemail',
            {},
            function(options) {
                options.rules['customemail'] = {};
                options.messages['customemail'] = options.message;
            });
        $.validator.unobtrusive.adapters.add('requiredif',
            ['dependentproperty'],
            function(options) {
                options.rules['requiredif'] = options.params;
                options.messages['requiredif'] = options.message;
            });
        $('#Email').on('change',
            function() {
                if (isHkEmail($(this).val())) {
                    $('#UstId').attr('disabled', 'disabled').addClass('disabled');
                } else {
                    $('#UstId').removeAttr('disabled').removeClass('disabled');
                }
            });
    </script>
}
