﻿@using VacationsSystem.DAL
@model VacationsSystem.Models.User
@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-warning">Days of leave left: @Model.VacationDays. <br/>
    Days of leave are incremented every year by: @Model.VacationDaysDelta <br />
    @switch (((IEnumerable<string>)ViewBag.Approvers).Count())
    {
        case 0:
            @Html.Raw("Approver not yet assigned")
            break;
        case 1:
            @Html.Raw("Your approver is: ")
            @Html.Raw(((IEnumerable<string>)ViewBag.Approvers).FirstOrDefault());
            break;
        default:
            @Html.Raw("Your approvers are: ")
            string.Join(" ", ViewBag.Approvers);
            break;
    }
</div>